In [1]:
import pandas as pd
import numpy as np

In [2]:
# We must define the columns, because they are not present in the raw data file.
df_cols = [
    'Label', 'Theme'
]
path = r'C:\Users\jiali\Desktop\MapElementDetection\code\theme analysis'
# Load the data from our local copy
df = pd.read_csv(path + '\\' + 'allRealThemes.csv', names=df_cols)

In [3]:
df.head(4)

   Label                              Theme
0  label                              theme
1      1  Percent of Households above $200k
2      0                               Area
3      1                         Population

In [4]:
df.shape

(544, 2)

In [5]:
df['Label'].value_counts()

1        265
0        184
2         59
3         35
label      1
Name: Label, dtype: int64

In [6]:
class_size = pd.DataFrame(df['Label'].value_counts())
class_size['Frequency'] = class_size['Label'] / class_size['Label'].sum()
class_size

       Label  Frequency
1        265   0.487132
0        184   0.338235
2         59   0.108456
3         35   0.064338
label      1   0.001838